h1{
    /*Syle CSS untuk teks rata tengah*/
    text-align: center;

    /*Syle CSS untuk teks dekorasi garis bawah*/
    text-decoration-line: underline;

    /*Syle CSS untuk teks dekorasi warna teks*/
    text-decoration-color: blue;

    /*Syle CSS untuk teks dekorasi ketebalan garis bawah tulisan*/
    text-decoration-thickness: 3px;

    /*Syle CSS untuk teks dekorasi style garis bawah solid (garis lurus tidak putus-putus)*/
    text-decoration-style: solid;
}

/*Syle CSS untuk teks rata kiri*/
h2{
    text-align: left;
}

/*Syle CSS untuk teks rata kanan kiri*/
p{
    text-align: justify;
}