/*Style untuk class container*/
.container{
    background-color: aqua;
    height: 500px;
    display: grid; /*Style untuk grid container dengan default memmbentuk kolom kebawah*/
    grid-template-columns: 100px 100px 100px; /*Membuat 3 kolom grid*/
    grid-template-rows: 100px 100px 100px; /*Membuat 3 baris grid*/
    justify-items: start; /*Justify Items*/
    gap: 10px;
}

/*Style untuk class content*/
.content{
    background-color: bisque;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
