/*Style class content*/
.content {
    background-color: aqua;
    width: 200px;
    height: 200px;
    display: inline-block;
}

/*Style class content2*/
.content2{
    background-color: pink;
    position: absolute; /*Style untuk position absolute, yang merupakan merupakan menghapus elemen dari Normal Flow, bahkan tidak terdapat space yang digunakan sama sekali. 
    Posisi awal untuk elemen absolute adalah relative ke posisi terdekat dengan elemen sebelumnya, atau jika tidak ada, berarti di awal block element parentnya.*/
    top: 20px;
    left: 20px;
}