a{
    /*Style untuk mengatur warna background tag a*/
    background-color: white;

    /*Style untuk mengatur style border tag a*/
    border-style: solid;

    /*Style untuk mengatur lengkungan pada border tag a*/
    border-radius: 10px;

    /*Style untuk mengatur jarak padding pada isi konten dalam tag a*/
    padding: 10px;

    /*Style untuk mengatur dekorasi teks yang berada di dalam tag a*/
    text-decoration: underline;

    /*Style untuk mengatur font teks yang berada dalam tag a*/
    font-family: sans-serif;

    /*Style untuk mengatur warna teks yang berada dalam tag a*/
    color: blue;

    /*Style untuk mengatur warna border teks yang berada dalam tag a*/
    border-color: blue;
}

/*Style untuk mengubah isi konten pada tag a yakni sebuah link setelah dikunjungi*/
a:visited{
    color: violet;
    border-color: violet;
}

/*Style untuk mengubah warna ketika cursor diarahkan ke konten tag a yakni link*/
a:hover{
    color: yellow;
    background-color: brown;
}

div{
    margin-top: 5px;
}