/*Style untuk class konten*/
.konten{
    /*Style mengambil url image*/
    /**background-image: url(image.png);*/

    /*Style untuk gradient image*/
    background-image: linear-gradient(90deg, rgba(42, 155, 83, 1) 0%, rgba(87, 199, 133, 1) 26%, rgba(212, 113, 28, 1) 70%, rgba(237, 221, 83,1) 100%);

    /*Style mengambil padding image*/
    padding: 50px 10px; /*(atas-bawah) (kanan-kiri)*/

    /*Style ukuran besar gambar*/
    width: 100%;

    /*Style ukuran tinggi gambar*/
    height: 500px;

    /*Style background image mengulang ke kanan terus*/
    background-repeat: repeat-x;

    /*Style untuk transparansi*/
    opacity: 0.3;
}